* {
  text-align: center;
}

.App {
  height: 100%;

  max-width: 700px;
  font-family: "Montserrat", sans-serif;
  color: beige;
  justify-content: center;
  display: inline-block;
  background-repeat: no-repeat;
}
