* {
  text-align: center;
}

.App {
  height: 50vh;

  width: 60%;
  font-family: "Montserrat", sans-serif;
  color: beige;
  justify-content: center;
  display: inline-block;
  background-repeat: no-repeat;
}
